:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
  }
  /* ===== */
  /* ===== */
  
  html {
    box-sizing: border-box;
  }

  .wrapper {
    width: 900px;
    height: 100%;
    border: #000 solid 2px;
    margin: auto;
  }

  .row {
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
  }
  
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  } */
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: Helvetica, sans-serif;
  }
  
  .messager {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 20px);
    border: 2px solid #ddd;
    border-radius: 5px;
    background: #fff;
  }
  
  .messager-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: #fff;
    background: #eee;
    color: #666;
  }
  
  .messager-chat {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
  }
  .messager-chat::-webkit-scrollbar {
    width: 6px;
  }
  .messager-chat::-webkit-scrollbar-track {
    background: #ddd;
  }
  .messager-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }
  .msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .msg:last-of-type {
    margin: 0;
  }
  .msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  .msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
  }
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
  }
  .msg-info-time {
    font-size: 0.85em;
  }
  
  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }
  
  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background: #ececec;
    color: #fff;
    border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
    margin: 0 0 0 10px;
  }
  .list-btn {
    border-top: 2px solid #ddd;
    background: #eee;
    padding: 10px 10px 0;
  }
  .list-btn .btn {
    width: 85px;
    text-align: center;
    border: 1px solid #cacaca;
    padding: 2px 10px;
    display: inline-block;
    margin-right: 10px;
  }
  .messager-inputarea {
    display: flex;
    padding: 10px;
    background: #eee;
  }
  .messager-inputarea .messager-input,
  .messager-inputarea .messager-send-btn {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 1em;
  }
  .messager-input {
    flex: 1;
    background: #ddd;
  }
  .messager-input:focus-visible {
    border: 1px solid #25a742;
    outline: none;
  }
  .messager-input {
    border: 1px solid #ddd;
  }
  .messager-send-btn {
    margin-left: 10px;
    background: #25a742;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  .messager-send-btn:hover {
    background: #25a742;
  }
  .messager-send-btn:focus {
    outline: none;
  }
  
  .avatar-head {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
  